@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.wrapper {
    /* чтобы футер прижался к низу */
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 130%;
    font-weight: 400;
}

.header {
    background-color: #0A0A0A;
    color: #717171;
    padding: 33px 0 32px;
    font-size: 24px;
    line-height: 29px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
}

.phone {
    flex-grow: 1;
    flex-basis: 0;
    text-align: right;
    font-size: 24px;
    line-height: 29px;
}

.menu-item {
    padding-right: 30px;
}




.headline {
    background-color: #F5F5F7;
    text-align: center;
    padding: 70px 0 40px;
}

.title {
    text-transform: uppercase;
    margin-bottom: 0 0 40px;
    color: #490E84;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
}

.headline-img {
    margin-bottom: 25px;
}

.headline-btn {
    display: inline-block;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #fff;
    background-color: #490E84;
    padding: 22px 117px 19px;
    border-radius: 30px;
}


.new {
    padding: 90px 0 150px;
}

.new-title,
.color-title {
    margin: 0 0 50px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #717171;
}

.new-info {
    display: flex;
    align-items: center;
}

.new-text p {
    max-width: 560px;
    margin: 0 0 30px;
}

.new-text b {
    display: block;
    max-width: 560px;
    font-size: 20px;
    line-height: 130%;
}

.images-new {
    margin-left: 190px;
}





.color {
    padding-bottom: 150px;
}

.color-list {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.color-item img {
    margin-bottom: 20px;
}

.color-item h3 {
    margin: 0 0 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
}

.color-item p {
    margin: 0;
}

.contacts-inner {
    display: flex;
    background-color: #574B63;
    color: #fff;
}

.contacts-form {
    width: 100%;
    text-align: center;
    padding: 140px 93px;
}

.contact-title {
    font-size: 32px;
    line-height: 39px;
    margin: 0 0 60px;
    text-transform: uppercase;
}

.contact-input {
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #fff;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    background-color: #574B63;
    color: #fff;
    outline: none;
}

.contact-input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #FFFFFF;
    opacity: 0.5;
}

.contacts-form p {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #FFFFFF;
    opacity: 0.5;
    margin-bottom: 30px;
}

.contacts-form button {
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    color: #490E84;
    padding: 16px 81px;
    background: #FFFFFF;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}




.footer {
    background-color: #0A0A0A;
    color: #717171;
    font-size: 14px;
    line-height: 130%;
    height: 150px;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.footer-link {
    flex-basis: 0;
    flex-grow: 1;
}

.menu-btn {
    display: none;
}


@media (max-width: 1200px) {
    .headline-img {
        max-width: 100%;
    }

    .images-new {
        display: none;
    }

    .new-text {
        padding: 0 32px;
    }

    .new-text p,
    .new-text b {
        max-width: 100%;
    }

    .contacts {
        background-color: #574B63;
    }

    .contacts-inner {
        display: block;
    }

    .contacts-form {
        width: auto;
    }

    .contacts-img {
        width: 100%;
        display: block;
    }
}

@media (max-width: 1100px) {
    .color-list {
        flex-wrap: wrap;
    }

    .color-item {
        width: 50%;
        margin-bottom: 30px;
    }

    .menu-btn {
        display: inline-block;
        order: 1;
        background-color: transparent;
        border: none;
        padding: 0 0;
        cursor: pointer;
        position: relative;
    }

    .phone {
        text-align: center;
    }

    .material-symbols-outlined {
        font-size: 56px;
        color: #717171;
    }

    .menu {
        display: none;
    }


    .menu-open {
        display: flex;
        position: absolute;
        right: 0;
        top: 125px;
        flex-direction: column;
        text-align: center;
        background-color: #0A0A0A;
        padding: 24px 32px;
        border-radius: 0 0 0 80px;
        animation: slide-in-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    .menu-item {
        padding: 0 0 16px;
    }
}

@media(max-width: 768px) {

    .headline,
    .new {
        padding: 50px 0;
    }

    .color {
        padding-bottom: 50px;
    }

    .contacts-form {
        padding: 70px 30px;
    }

    .footer-inner {
        flex-direction: column;
        padding: 20px 0;
    }

    .footer-inner .logo {
        margin: 15px 15px;
    }
}


@media (max-width: 560px) {
    .title {
        font-size: 34px;
        line-height: 42px;
    }

    .headline-btn {
        font-size: 18px;
        line-height: 22px;
        padding: 16px 90px;
    }

    .new-title,
    .color-title,
    .contacts-title {
        font-size: 28px;
        line-height: 32px;
    }

    .color-item {
        width: 100%;
    }

    .color-item img {
        width: 100%;
    }

    .contacts-form {
        padding: 80px 30px;
    }

    .contact-title {
        font-size: 24px;
    }
}

@media(max-width: 390px) {
    .nav {
        flex-wrap: wrap;
    }

    .phone {
        flex-basis: auto;
        margin-top: 50px;
        order: 3;
        width: 100%;
    }

    .menu-btn {
        padding-right: 32px;
    }

    .logo {
        padding-left: 32px;
    }
}

@media(max-width: 375px) {
    .contacts-form {
        padding: 140px 30px;
    }
}